* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%; /* now 1 rem == 10px */
}

.wrapper {
    width: 90%;
    max-width: 80rem;
    margin: 0 auto;
}

button:hover {
    cursor: pointer;
}

/**************************
            HERO
***************************/

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

header.hero {
    padding: 1rem 0;
}

.logo {
    font-size: 2.4rem;
}

.hero_main_text {
    font-size: 4rem;
    font-weight: bolder;
}

.hero_sec_text {
    font-size: 1.5rem;
    color: #E5E7EB;
}

h1 {
    margin: 0 auto;
}

h1 img {
    height: 3rem;
}

nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 2rem;
    border-top: #E5E7EB solid 1px;
}

nav li {
    border-bottom: #E5E7EB solid 1px;
    width: 100%;
    text-align: center;
    height: 4rem;
}

nav a {
    display: block;
    text-decoration: none;
    color: #E5E7EB;
    line-height: 4rem;
    font-size: 1.5rem;
}

.hero_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.hero_main_item {
    margin: 1rem 0;
}

.hero button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: 0;
    border-radius: 0.5rem;
    padding: 1rem;
}

.hero_main img {
    /*
    width: 80%;
    height: 10rem;
    */
    border: #3882F6 solid 1px;
    object-fit: cover;
    border-radius: 1rem;
    height: 13rem;
}

/**************************
        Information
***************************/

.info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 2rem auto;
}

.info_title {
    color: #1F2937;
    font-size: 3.6rem;
    text-align: center;
    width: 100%;
}

.info_item {
    flex: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info_item img {
    width: 10rem;
    height: 10rem;
    border: #3882F6 solid 1px;
    border-radius: 1rem;
    margin: 1rem;
}

.info_item .img1 {
    object-fit: cover;
    object-position: calc((100%/6) * 1) 0;
}

.info_item .img2 {
    object-fit: cover;
    object-position: 0 0;
}

.info_img_subtext {
    width: 10rem;
    text-align: center;
    margin-bottom: 1rem;
}

/**************************
            quote
***************************/

.quote {
    background-color: #E5E7EB;
    text-align: center;
    color: #1F2937;
    padding: 2rem 0;
}

.quote blockquote {
    font-size: 3.6rem;
    font-weight: 300;
    font-style: italic;
}

.quote figcaption {
    font-size: 2.5rem;
    font-weight: 500;
}

/**************************
        action_call
***************************/

.action_call {
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 3rem 0;
    padding: 2rem 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
}

.action_call_title {
    font-size: 2.5rem;

}

.action_call button {
    width: 10rem;
    background-color: #3882F6;
    color: #F9FAF8;
    border: #F9FAF8 solid 1px;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    margin: 1rem;
}

/**************************
            footer
***************************/

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 1rem 0;
}

@media screen and (min-width: 550px) {

    header div {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    h1 {
        margin: 0;
    }

    h1 img {
        height: 2.8rem;
        
    }

    nav ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        list-style: none;
        padding: 0;
        margin-top: 2rem;
        border: none;
    }
    
    nav li {
        width: auto;
        text-align: center;
        height: 3rem;
        border: none;
        padding: 0 1rem;
    }
    
    nav a {
        display: block;
        text-decoration: none;
        color: #E5E7EB;
        line-height: 3rem;
        font-size: 1.4rem;
    }

    .hero_main {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        padding: 5rem 0 1rem 0;
        margin-bottom: 1rem;
        gap: 1rem;
    }
    
    .hero_main_item {
        margin: 1rem 0;
    }
    
    .hero button {
        display: block;
        background-color: #3882F6;
        border: 0;
        border-radius: 0.5rem;
        padding: 0.5rem 1.5rem;
    }
    
    .hero_main img {
        height: 15rem;
    }

    /**************************
            Information
    ***************************/

    .info {
        justify-content: center;
    }

    .info_title {
        color: #1F2937;
        font-size: 3.6rem;
        font-weight: bold;
        text-align: center;
        width: 100%;
        margin-bottom: 2rem;
    }

    .info_item {
        flex: none;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .info_item img {
        width: 12rem;
        height: 12rem;
        border: #3882F6 solid 2px;
        border-radius: 1rem;
        margin: 0.5rem 2rem;
    }

    .info_img_subtext {
        width: 14rem;
        text-align: center;
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    /**************************
                quote
    ***************************/

    .quote {
        background-color: #E5E7EB;
        text-align: left;
        color: #1F2937;
        padding: 2rem 0;
    }

    .quote div figure {
        margin: 0 auto;
        max-width: calc(16*4rem);
    }

    .quote blockquote {
        font-size: 3.6rem;
        font-weight: 300;
        font-style: italic;
    }

    .quote figcaption {
        font-size: 2.5rem;
        font-weight: 500;
        text-align: right;
    }

    /**************************
            action_call
    ***************************/

    .action_call {
        background-color: #3882F6;
        color: #F9FAF8;
        margin: 4rem 0;
        padding: 4rem 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        border-radius: 1rem;
    }

    .action_call_title {
        font-size: 2.5rem;
    }

    .action_call button {
        width: 10rem;
        background-color: #3882F6;
        color: #F9FAF8;
        border: #F9FAF8 solid 1px;
        border-radius: 0.5rem;
        padding: 0.5rem 0;
        margin: 1rem;
    }

    /**************************
                footer
    ***************************/

    footer {
        background-color: #1F2937;
        color: #E5E7EB;
        text-align: center;
        padding: 4rem 0;
        font-size: 1.2rem;
    }
}