* {
    margin: 0 auto;
    padding: 0;
}

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%; /* now 1 rem == 10px */
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

/**************************
            HERO
***************************/

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

header.hero {
    padding: 1rem 0;
}

.logo {
    font-size: 2.4rem;
}

.hero_main_text {
    font-size: 4.8rem;
    font-weight: bolder;
}

.hero_sec_text {
    font-size: 1.8rem;
    color: #E5E7EB;
}

h1 {
    margin: 0 auto;
    text-align: center;
}

nav ul{
    display: flex;
    list-style: none;
    padding: 0;
}

nav li {
    padding: 0.5rem;
}

.hero_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.hero_main_item {
    margin: 1rem 0;
}

.hero button {
    background-color: #3882F6;
    border: 0;
    border-radius: 0.5rem;
    padding: 1rem;
}

.hero img {
    width: 80%;
    height: 10rem;
    border: black solid 1px;
}


footer {
    background-color: #1F2937;
}

